name: Build and Deploy to SFTP

on:
  push:
    branches:
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build project
        run: bun run build:all

      - name: Create .env file from secret
        run: echo "${{ secrets.ENV }}" > dist/.env

      - name: Deploy via FTP Deploy Action
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.SFTP_HOST }}
          port: ${{ secrets.SFTP_PORT }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASS }}
          protocol: "ftps"
          local-dir: "./dist/"
          server-dir: ${{ secrets.SFTP_REMOTE_DIR }}
