name: Build and Deploy to SFTP

on:
  push:
    branches:
      - dev
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build project
        run: bun run build:all

      - name: Create .env file from secret (dev)
        if: github.ref == 'refs/heads/dev'
        run: echo "${{ secrets.ENV }}" > dist/.env

      - name: Create .env file from secret (prod)
        if: github.ref == 'refs/heads/main'
        run: echo "${{ secrets.PROD_ENV }}" > dist/.env

      - name: Deploy via FTP Deploy Action (dev)
        if: github.ref == 'refs/heads/dev'
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.SFTP_HOST }}
          port: ${{ secrets.SFTP_PORT }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASS }}
          protocol: "ftps"
          local-dir: "./dist/"
          server-dir: ${{ secrets.SFTP_REMOTE_DIR }}

      - name: Deploy via FTP Deploy Action (prod)
        if: github.ref == 'refs/heads/main'
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.PROD_SFTP_HOST }}
          port: ${{ secrets.PROD_SFTP_PORT }}
          username: ${{ secrets.PROD_SFTP_USER }}
          password: ${{ secrets.PROD_SFTP_PASS }}
          protocol: "ftps"
          local-dir: "./dist/"
          server-dir: ${{ secrets.PROD_SFTP_REMOTE_DIR }}
